<a href="https://colab.research.google.com/github/ashu-ai/Ineurontasks/blob/Task/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [139]:
def myreduce(fucnt_name,seq):
  seqq=list(seq)
  for i in seqq[1:]:
    x=fucnt_name(seqq[0],i)
    seqq[0]=x
    
  return x

In [143]:
lt=("ashu","loves","shalu")

In [144]:
myreduce(lambda x,y:x+y,lt)

'ashulovesshalu'

In [142]:
l=(1,2,3,4)

In [121]:
myreduce(lambda x,y:x if x >y else y,l)

4

Write a Python Program to implement your own myfilter() function which works exactly like Python's built-in function myfilter()

In [189]:
lt1 = (2,4,6,7,9,1)

In [195]:
def myfilter(funct_name,seq):
  for i in seq:
    if funct_name(i)==True:
       yield i
    else:
      pass

In [196]:
y=list(myfilter(lambda x:(x%2 == 0),lt1))

In [186]:
y

[2, 4, 6]

Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists

1. ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [246]:
listt=["x","y","z"]
n=[i*j for j in listt for i in range(1,5)]

In [247]:
n

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

2.['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [249]:
lis=["x","y","z"]
c=[i*j for j in range(1,5) for i in lis]

In [250]:
c

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

3. [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [268]:
lis_num=[2,3,4]
emp_num=[[i+j] for i in range(0,3) for j in lis_num]

emp_num

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

4. [[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]

In [272]:
lis_num1=[2,3,4,5]
emp_num1= [[i+j for i in range(0,4)] for j in lis_num1]
emp_num1

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]